name: Simple Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install Node
        uses: actions/setup-node@v1
        with:
          node-version: 18.14.0

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install deps
        run: npm ci

      - name: Build
        run: npm run build

      - name: Copy
        run: |
          mkdir ./public/build
          cp -r ./public ./public/build
#          cp -r ./public/index.html ./public/build

      - name: Upload build result
        uses: actions/upload-artifact@v1
        with:
          name: build
          path: ./public/build
